body {
    width: 100%;
    height: 100%;
}

#container {
    width: 80%;
    padding-left: 20%;
}

#indexcontainer {
    width: 70%;
    padding-left: 30%;
}

#bottom_container {
    border-color: red;
    padding-top: 20%;
    margin-left: -10%;
    float: left;
    width: 50%;
}

#reviews {
    float: left;
}

#shops {
    float:right;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

#brand {
    color: inherit;
}

#must_image {
    float: left;
    width: 20%;
}

#recension {
    float: left;
    display: inline-block;
}

#star {
    padding-top: 2%;
    float: right;
}

#big_star {
    padding-top: 1%;
    float: right;
}

#year_and_volume {
    font-size: 1.5em;
}

#betyg {
    display: inline-block;
}

#toggle_review {
    margin-left: 35%;
}

#rating, #reviewcontent, #submitreview, #ratingtext, #reviewform {
    display: none;
    /*display: inline-block;*/
    /*float: left;*/
}

#rating {
    width: 15%;
    margin-left: 30%;
    margin-top: 10px;
}

#ratingtext {
    margin-left: -8%;
    font-size: 1.3em;
    display: inline-block;
    line-height: 10px;
    /*padding-right: 5%;*/
}

.centertext {
    text-align: center;
}

/*#submitreview {*/
    /*margin-left: 35%;*/
/*}*/
