body {
    width: 100%;
    height: 100%;
}

#container {
    width: 80%;
    padding-left: 20%;
}

#bottom_container {
    border-color: red;
    padding-top: 20%;
    margin-left: -10%;
    float: left;
    width: 50%;
}

#reviews {
    float: left;
}

#shops {
    float:right;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

#brand {
    color: inherit;
}

#must_image {
    float: left;
    width: 20%;
}

#recension {
    float: left;
    display: inline-block;
}

#star {
    padding-top: 2%;
    float: right;
}